body {
font-family: 'Roboto', sans-serif !important;
  // font-family: "Muli", sans-serif !important;
  // font-family: "Sawarabi Gothic", sans-serif !important;
  // font-family: "Sarala", sans-serif;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

html,
body {
  height: 100%;
}

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

.geosuggest__item--active {
  background: #267dc0;
  color: #fff;
}

.error {
  color: red;
}
